/* ==[ Document ] ========================================================================================= */

:root {
	--control-size: 30px;
	--control-corners: 6px;
	--font-size: 10.5pt;
}

html {
	color-scheme: dark;
	background-color: #000;
	color: #c5c8c6;
	font: var(--font-size) sans-serif;
}

body {
	margin: 0;
}

a, a:visited {
	color: #89ffa3;
}

a:hover {
	color: #88eefb !important;
}

:focus-visible {
	outline: 2px solid #614fdb;
}

.hidden {
	display: none !important;
}

option {
	background: white;
	font-size: var(--font-size);
}

/* ==[ Containers ] ======================================================================================= */

.container-expanded {
	height: 100%;
}

div#disabled-msg {
	position: absolute;
	top: 33%;
	left: 33%;
	background-color: #0000FF;
	color: black;
	padding-left: 32px;
	padding-right: 32px;
}

.container-expanded + #container-scroll {
	display: none;
}

#container-fixed {
	display: flex;
	flex-direction: column;
	max-width: 1028px;
	max-height: 100vh;
}

#container-scroll {
	max-width: 1028px;
	width: 100%;
	margin-top: 2px;
	overflow-y: auto;
}

#content {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100vh;
}

footer {
	margin-left: 9px;
}

/* ==[ Canvas ] =========================================================================================== */

#canvas-container {
	display: flex;
	flex-shrink: 0;
	position: relative;
	box-sizing: border-box;
	border: 2px solid #fda757;
	overflow: hidden;
	cursor: pointer;
}

#canvas-main {
	width: 100%;
	height: auto;
}

#canvas-timecursor {
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 2px solid #7a9dc4;
	box-shadow: 0 0 8px #6ab2ff, 0 0 16px #fff;
	left: 0;
}

/* ==[ Canvas play/pause button ] ========================================================================= */

#canvas-container:hover > #canvas-play {
	display: block;
	background-image: linear-gradient(to bottom, #65c775, #18331d) !important;
}

.canvas-initial {
	display: block !important;
	background-image: linear-gradient(to bottom, #3c9b40, #183319);
}

.canvas-pause > #svg-canvas-play, .canvas-play > #svg-canvas-pause {
	display: none;
}

#canvas-play {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1px 8px;
	border-radius: 16px;
	color: #c5c8c6;
	line-height: 0;
	transform: translate(-50%, -50%);
}

#canvas-play > svg {
	width: 46px;
	height: 46px;
	fill: currentColor;
}

.canvas-play-backward > #svg-canvas-play {
	transform: scaleX(-1);
}

/* ==[ Editor ] =========================================================================================== */

button[name="close"] {
	color: #abb2bf;
}

.container-expanded > #editor-container {
	flex: auto;
}

#editor-container {
	width: calc(100% - 4px);
	height: 200px;
	border: 2px solid #bac2cc;
	resize: vertical;
	overflow: hidden;
}

#editor-default {
	width: 100%;
	height: 100%;
	padding: 3px 3px 3px 33px;
	border: none;
	box-sizing: border-box;
	background-color: #000;
	color: #fff;
	font: var(--font-size)/var(--font-size) monospace;
	outline: none;
	resize: none;
}

.cm-content {
	font-weight: bold;
	caret-color: #fff !important;
}

.cm-editor {
	height: 100%;
	background-color: #1b1d20;
}

.cm-scroller {
	line-height: var(--font-size) !important;
}

.cm-matchingBracket, .cm-selectionMatch {
	margin: -1px;
	border: 1px solid gray;
	border-radius: 3px;
}

.cm-searchMatch-selected {
	background-color: #d541ffba !important;
}

.cmt-number {
	color: #ff8dfd;
}

.cmt-keyword, .cmt-operator {
	color: #96cbfe;
}

.cmt-propertyName {
	color: #ffd2a7;
}

.cmt-punctuation, .cmt-variableName {
	color: #c5c8c6;
}

.cmt-string {
	color: #a8ff60;
}

#error, warning {
	color: #f92672;
	word-break: break-all;
}

::selection {
	background-color: #596999 !important;
}

/* ==[ Library ] ========================================================================================== */

.code-text {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	color: #ffd153;
	background: none;
	font: var(--font-size)/16px monospace;
	text-align: left;
	text-decoration: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-all;
	user-select: text;
	cursor: pointer;
}

.code-text:hover {
	color: #3fe2e2 !important;
}

.code-button {
	margin: 1px 0 0 6px;
	padding: 2px 6px;
	border: none;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #171b22, #21bb2e);
	color: #ced5e1;
	font: var(--font-size)/var(--font-size) sans-serif;
	white-space: nowrap;
	cursor: pointer;
}

.code-button:hover {
	background-image: linear-gradient(to bottom, #35473d, #2edd3d);
	color: #c2dfff;
}

.code-length, .code-info {
	color: gray;
	cursor: default;
}

.code-stereo {
	color: #008040;
}

.entry {
	position: relative;
}

.entry-children > .entry:not(:last-child) {
	margin-bottom: 4px;
}

.entry-children > .entry::before {
	content: "\25CF";
	position: absolute;
	top: 2px;
	left: -11px;
	color: #555;
	font-size: 12px;
}

.entry-children > .entry > .entry-children {
	margin-left: 11px;
}

.entry.star-white::before, .entry.star-green::before {
	content: "\2605";
	position: absolute;
	top: 0;
	left: -14px;
	font-size: var(--font-size);
}

.entry.star-white::before {
	color: white;
}

.entry.star-green::before {
	color: #00ff62;
}

.entry-top {
	padding: 6px 4px 8px 16px;
}

.entry-top:not(:first-child) {
	border-top: 1px solid #404040;
}

.library-content {
	margin: 4px 0;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	border-left: 1px solid #444;
	border-radius: 3px;
	background: #0a0a0a;
}

.library-header {
	padding: 4px 8px;
	border-radius: 3px;
	background-image: linear-gradient(to bottom, #204620, #0b170c);
	cursor: pointer;
}

.library-header:hover, .library-header:focus-visible {
	background-image: linear-gradient(to bottom, #326c35, #192b15);
	color: #94c7ff;
}

.library-header > h1 {
	display: inline;
	margin: inherit;
	font-size: var(--font-size);
}

.loading-error {
	text-align: center;
	color: #f92672;
}

@keyframes wait-anim {
	to { transform: rotate(360deg); }
}

.loading-wait {
	width: 16px;
	height: 16px;
	margin-left: 6px;
	vertical-align: top;
	animation: wait-anim 1s linear infinite;
}

/* ==[ Controls ] ========================================================================================= */

.control-button, .control-select, .control-indicator {
	height: var(--control-size);
	padding: 0;
	border: none;
	border-radius: var(--control-corners);
	background-image: linear-gradient(to bottom, #427745, #224725);
	color: #e3e3e3;
	font: bold var(--font-size)/var(--control-size) sans-serif;
	cursor: pointer;
}

.danger {
	background-image: linear-gradient(to bottom, #774242, #472222) !important
}

.blue {
	background-image: linear-gradient(to bottom, #4091b1, #2e6f7e) !important	
}

.light {
	background-image: linear-gradient(to bottom, #b3b3b3, #7e7e7e) !important;
	color: black !important;
}

.dark {
	background-image: linear-gradient(to bottom, #535353, #7e7e7e) !important;
	color: white !important;
}

.light:hover {
	background-image: linear-gradient(to bottom, #8b8b8b, #555555) !important;
	color: #005b6b !important;
}

.dark:hover {
	background-image: linear-gradient(to bottom, #858585, #a1a1a1) !important;
	color: #7ff0ff !important;
}

.tube {
	border-radius: 0;
}

.control-button[disabled] {
	opacity: 0.5;
	cursor: default;
}

.control-button:not([disabled]):hover, .control-select:hover {
	background-image: linear-gradient(to bottom, #528a5c, #224725);
	color: #c2dfff;
}

.control-button:not([disabled]):active, .control-select:active  {
	background-image: linear-gradient(to bottom, #3c6341, #224725);
}

.text-padding {
	padding: 0 10px 0 10px !important
}

.control-button > svg {
	width: var(--control-size);
	height: var(--control-size);
	fill: currentColor;
}

#control-codesize {
	min-width: 56px;
	cursor: default;
}

#control-codesize, #control-counter, #control-samplerate, #control-divisor, #control-parens {
	height: var(--control-size);
	padding: 0 4px;
	background: linear-gradient(to top, #3a5e3d, #224725);
	color: #e3e3e3;
	border: none;
	font: bold var(--font-size)/var(--control-size) monospace;
	box-shadow: inset 0 0 12px rgba(202, 202, 202, 0.5);
}

#control-counter {
	width: 88px;
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

#control-counter-units {
	width: 32px;
	text-align: center;
	user-select: none;
}

.control-fast > .svg-play, .control-play > .svg-fast, .control-play > .control-fast-multiplier {
	display: none;
}

.control-fast-multiplier {
	position: absolute;
}

#control-play-backward, #control-play-forward {
	position: relative;
}

#control-play-backward > .control-fast-multiplier {
	right: 5px;
}

#control-play-backward > .control-fast-multiplier-large {
	right: 4px;
	letter-spacing: -2px;
}

#control-play-backward > svg {
	transform: scaleX(-1);
}

#control-play-forward > .control-fast-multiplier {
	left: 5px;
}

#control-play-forward > .control-fast-multiplier-large {
	left: 2px;
	letter-spacing: -2px;
}

#control-rec.control-recording {
	color: #b50000;
}

@keyframes blink {
	50% { opacity: 0.0; }
}

.control-recording > svg {
	animation: blink 1s step-start 0s infinite;
}

#control-samplerate {
	width: 56px;
	border-radius: var(--control-corners) 0 0 var(--control-corners);
}

#control-menu-select {
	width: 80px;
	border-radius: var(--control-corners) var(--control-corners) var(--control-corners) var(--control-corners);
}

#control-samplerate-select {
	width: 22px;
	font-size: 0;
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

#control-parens {
	width: 30px;
	border-radius: var(--control-corners) var(--control-corners) var(--control-corners) var(--control-corners);
}

#control-divisor {
	width: 40px;
	border-radius: var(--control-corners) var(--control-corners) var(--control-corners) var(--control-corners);
}

.control-select {
	padding-left: 2px;
	border: none;
}

.control-select > option {
	color: #43714d;
}

#control-volume {
	flex-grow: 1;
	appearance: none;
	height: 10px;
	margin: 10px 0;
	border-radius: 4px;
	background-color: #393d44;
	align-self: center;
}

#tube {
	border-radius: 0;
}

#control-volume::-moz-range-thumb {
	width: 10px;
	height: var(--control-size);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #57aa62, #2f8536);
	cursor: pointer;
}

#control-volume::-moz-range-thumb:hover {
	background-image: linear-gradient(to bottom, #57cf67, #2c6432);
}

#control-volume::-webkit-slider-thumb {
	appearance: none;
	width: 10px;
	height: var(--control-size);
	border: none;
	border-radius: 4px;
	background-image: linear-gradient(to bottom, #aeaeae, #2f8536);
	cursor: pointer;
}

#control-volume::-webkit-slider-thumb:hover {
	background-image: linear-gradient(to bottom, #71d876, #2f8536);
}

.controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3px;
	padding: 3px 0;
}

dialog {
	background-image: linear-gradient(to bottom,#000,#050);
	font: 24px monospace;
}

dialog > button, dialog > div > button {
	font: 16px monospace;
}

.controls-group, .flex {
	display: flex;
}

.controls-group > .control-button {
	border-left: 1px solid #5c636c;
	border-radius: 0;
}

.controls-group > :first-child {
	border: none;
	border-radius: var(--control-corners) 0 0 var(--control-corners);
}

.controls-group > :last-child {
	border-radius: 0 var(--control-corners) var(--control-corners) 0;
}

.controls-grow, .controls-grow > input {
	flex-grow: 1;
}

/* ==[ Waiting dialog ] =================================================================================== */

#please-wait {
	position: absolute;
	height: 128px;
	width: 256px;
	/* left: calc(50% - 64px); */
	top: calc(50% - 96px);
	z-index: 100;
	text-align: center;
}
  
#please-wait p {
	margin: 0;
	line-height: 128px;
}
  

/* ==[ Adaptive screen ] ================================================================================== */

@media screen and (max-height: 768px) and (min-width: 768px) {
	#container-fixed {
		flex-shrink: 0;
		max-width: 516px;
		height: 100%;
	}

	#container-scroll {
		display: block !important;
		height: 100%;
		margin-top: 0;
		margin-left: 6px;
		padding-right: 6px;
	}

	#content {
		flex-flow: row;
		align-items: start;
	}

	#control-counter {
		width: 66px;
	}

	#control-expand {
		display: none;
	}

	#editor-container {
		flex: auto;
		resize: none;
	}
}

@media screen and (max-width: 768px) {
	#container-fixed, #container-scroll {
		max-width: 516px;
	}
}

@media screen and (min-width: 1440px) {
	#container-fixed {
		flex-shrink: 0;
		height: 100%;
	}

	#container-scroll {
		display: block !important;
		height: 100%;
		margin-top: 0;
		margin-left: 6px;
		padding-right: 6px;
	}

	#content {
		flex-flow: row;
		align-items: start;
	}

	#control-expand {
		display: none;
	}

	#editor-container {
		flex: auto;
		resize: none;
	}
}
